<h1 style="text-align: center;">About</h1>
<br>
<p style="text-align: center;">
  ながのCAKEは全国発送可能なケーキ屋さんです。
</p>
<p style="text-align: center;">
  お子様からお年寄りの方までお召し上がりできるよう、
</p>
<p style="text-align: center;">
  様々なバリエーションをご用意しております。
</p>
<p style="text-align: center;">
  また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。
</p>
<p style="text-align: center;">
  ぜひご注文下さい。
</p>
<div style="text-align: center">
<img src="/assets/sample.jpg" alt="サンプル画像" height="300" width="400">
</div>