<div class="row">
    <div class="col-2 px-0">
      <table align="center">
        <tr>
          <th>ジャンル検索</th>
        </tr>
        <% @genres.each do |gs| %>
        <tr>
          <td><%= gs.name %><td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col-10">
      <h5><big><strong>商品一覧</strong></big>(全<%= @item_all.count %>件)</h5>
      <% @items.each do |is| %>
      <%= image_tag is.image %>
      <% end %>
    </div>
  </div>